@use "../../styles/mixins.scss" as *;

.auth {
  position: relative;
  height: 100%;
  background: var(--primary-background);

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(540px, 90%);
    background: var(--secondary-background);
    @include vertical-gap(16px);
    align-items: center;
    padding: 48px;
    border: 1px solid var(--border-color);
    border-radius: 12px;
    box-shadow: var(--large-shadow);

    > * {
      width: 100%;
      text-align: center;
    }
  }

  &__icon-wrapper {
    place-items: center;
  }

  &__header {
    @include vertical-gap(8px);
  }

  &__google {
    @include vertical-gap(16px);
    padding-top: 24px;
    border-top: 1px solid var(--divider-color);
  }

  &__divider {
    border: none;
    background: var(--divider-color);
    height: 1px;
  }

  // Signup link
  &__link {
    color: var(--primary-title-color);
  }
}