@use "../../../styles/mixins.scss" as *;

@mixin nav-item {
  @include horizontal-gap(8px);
  align-items: center;
  padding: 10px 12px;
  border-radius: 8px;
  cursor: pointer;

  & span:nth-child(2) {
    flex: 1;
  }

  &:hover {
    background: var(--item-bg-selected);
    color: var(--sidebar-text-selected);
  }

  &--selected {
    background: var(--item-bg-selected);
    color: var(--sidebar-text-selected);
    @include borderWithBefore(#e0e4ea, 8px);

    svg:first-child {
      color: var(--blue-500);
    }

    svg:last-child {
      rotate: 180deg;
    }
  }
}

.sidebar {
  font: var(--inter-text-4);
  color: var(--sidebar-text);

  &__content {
    flex: 1;
    @include vertical-gap(8px);
    min-height: 0;
  }

  &__top-nav {
    @include vertical-gap(4px);
  }

  &__top-nav-item {
    @include nav-item;
  }

  &__divider {
    background: var(--divider-color);
    height: 1px;
  }

  &__tags-title {
    color: var(--sidebar-tags-title);
    padding: 0 8px;
  }

  &__tags-list {
    flex: 1;
    @include vertical-gap(4px);
    min-height: 0;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__tag-item {
    @include nav-item;
  }
}
