.title-h1 {
  font: var(--inter-text-1);
  color: var(--primary-title-color);
}

.title-h2 {
  font: var(--inter-text-5);
  color: var(--secondary-title-color);
}

.title-h3 {
  font: var(--inter-text-4);
}
