.button {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  font: var(--inter-text-4);
  letter-spacing: -0.2px;

  &--primary {
    background: var(--blue-500);
    color: var(--neutral-0);

    &:hover {
      background: var(--blue-700);
    }
  }

  &--secondary {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--secondary-border);
    border-radius: 12px;

    span {
      padding: 0 16px;
      font: var(--inter-text-4);
    }
  }

  &--cancel {
    background: var(--cancel-btn);

    &:hover {
      background: var(--cancel-btn-hover);
    }
  }
}
